version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /home/drona/docker/app node_modules
    environment:
      - NODE_ENV=development
    # Command to run the development server inside the container
    command: npm run dev